<div class="wrapper" id='convo-styles'>
  <div class="container">
    <div class="left" style="width:100%;">
       
      <ul class="people">

        <% @conversations.each do |convo| %>
          <%= link_to convo do %>
            <li class="person" data-chat="person1">
              <span class="name"><b><%= convo.messages.last.user.email %></b> <i></i><br/></span>
              <span class="time"><%= convo.messages.last.created_at %></span>
              <span class="preview"><%= convo.messages.last.body %></span>
            </li>
          <% end %>
        <% end %>
        
      </ul>

    </div>
  </div>
</div>