<!-- Header -->
<div id='land-styles'>
  <header id="header" style="background: #9090ab;">
    <h1 id="logo"><a href="index.html">Carewell</a></h1>
    <nav id="nav">
      <ul>
                      <li><a href="#" class="button special">Home</a></li>
                      <li><a href="index.html">Search</a></li>
                      <li><a href="index.html">Messages</a></li>
        <li>
          <a href="#">You</a>
          <ul>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="settings.html">Settings</a></li>
            <li><a href="logout.html">Logout</a></li>

          </ul>
        </li>
      </ul>
    </nav>
  </header>
</div>