<main id='stories-index'>

  <div class='container'>

    <%= link_to "Write a new story", new_story_path %>

    <h1>All Stories</h1>

    <% @stories.each do |story| %>
      <%= link_to story do %>
        <h2>From <%= story.user.email %></h2>
        <p><%= story.body %></p>
      <% end %>
    <% end %>

  </div>

</main>